<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

	<!-- consolePlugin sends log records to eclipse logback-beagle plugin. 
		 When running on eclipse, beagle-plugin merges logs from different examples.
		 See http://logback.qos.ch/beagle/ for more details -->
    <consolePlugin/>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5p %20.20c{10} %13.13t - %m%n</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="console" />
	</root>
	
	<!-- 
	<logger name="net.sf.jrtps" level="info" />
	<logger name="net.sf.jrtps.RTPSWriter" level="debug" />
	<logger name="net.sf.jrtps.RTPSReader" level="debug" />
	<logger name="net.sf.jrtps.message" level="debug" />
	<logger name="net.sf.jrtps.message.parameter" level="info" />
	<logger name="net.sf.jrtps.udds" level="debug" />
	-->
</configuration>
